<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.studentmapper">
    <resultMap type="com.mybatis.student" id="re1">
      <id property="id" column="uid"/>
      <result property="name" column="uname"/>
    </resultMap>
     <resultMap type="com.mybatis.student" id="re2" extends="re1">
      <collection property="list" resultMap="com.mybatis.teachermapper.re1">
      </collection>
    </resultMap>
    <select id="getalls" resultMap="re2"> select t.id,t.name,s.id as uid,s.name as uname from tea t join stu_tea on t.id=stu_tea.tid join stu s on stu_tea.sid=s.id </select>
</mapper>






















